/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 10px 20px 10px;
  background-image: url("hex_psicostat.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*----------Color active TOC---------*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #8C3031;
    border-color: #8C3031;
}

/*----------Color links---------*/
a {
    color: #8C3031;
    font-weight: bold;
}

/*----------Color titles---------*/
